<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- Features -->
    <uses-feature android:name="android.hardware.telephony" android:required="false" />

    <!-- Required Permissions -->
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.HIGH_SAMPLING_RATE_SENSORS" />
    <uses-permission android:name="android.permission.RECEIVE_SMS"/>
    <uses-permission android:name="android.permission.READ_SMS"/>
    <uses-permission android:name="android.permission.READ_PHONE_NUMBERS"/>
    <uses-feature android:name="android.hardware.location.gps" />
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION"/>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_LOCATION"/>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_SPECIAL_USE"/>







    <!-- Remove if not needed -->
   <!-- <uses-permission android:name="android.permission.READ_PHONE_STATE"/> -->

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="Naari Rakshak"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- Splash Screen as Launcher -->
        <activity android:name=".Splash"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Other Activities -->
        <activity android:name=".Registration"/>
        <activity android:name=".Login"/>
        <activity android:name=".DeveloperByActivity" />
        <activity android:name=".TrigActivity" />
        <activity android:name=".helplineCall" />
        <activity android:name=".AddRelative" />
        <activity android:name=".MainScreen" />
        <activity android:name=".HowToSwipe" />
        <activity android:name=".ViewListContents"/>

        <!-- Main Activity (Removed Launcher Intent) -->
        <activity android:name=".MainActivity" android:exported="true"/>

        <service android:name=".SOSService"
            android:foregroundServiceType="location"
            android:exported="false"/>


    </application>
</manifest>
